@import '../../styles/common.scss';

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .home {
        background: url('../../assets/logo.svg');
        height: 30px;
        width: 200px;
        background-repeat: no-repeat;
        margin-left: 15px;
    }

    .language-logout {
        .welcome {
        }

        .language-vi {
            margin: 0 10px;
            opacity: 0.2;

            &.active {
                opacity: 1;
                color: rgb(255, 150, 0);
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .language-en {
            opacity: 0.2;

            &.active {
                opacity: 1;
                color: rgb(0, 255, 0);
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}
